@{
    ViewData["Title"] = "Profiles List";
}

<title>@ViewData["Title"] - Profiles App</title>
<h2>@ViewData["Title"]</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>
